@import './index.scss';

.container {
  width: 100%;
  max-width: $breakpoint-xl !important;
 margin: 0 auto !important;

  @media (max-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media (max-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
  }
}
